*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --heading-font: "PT Sans", sans-serif;

    --black: #000;
    --white: #fff;
    --text-color: #0009;
    --text-desc: #000000b3;

    --primary: #b80257;
    --secondary: #783df0;
    --tertiary: #fff9;

    --border-color: #0000000d;
    --footer-bg: #151515;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;

    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
}

input,
button,
select {
    padding: 0;
    border: none;
    outline: none;

    background: transparent;
    cursor: pointer;
}

a,
img,
button,
input,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    /** 
        Thuộc tính -webkit-tap-highlight-color được sử dụng trong CSS 
        để kiểm soát hiệu ứng highlight (màu nhấp nháy) khi người dùng chạm vào 
        một phần tử trên các thiết bị di động sử dụng trình duyệt WebKit (Safari, Chrome trên iOS).
    **/
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

/* Start header wrapper */
.header-wrapper {
    display: flex;
    width: 100%;
    min-height: 496px;

    background-image: url("../img/banner/banner-shop.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-wrapper .inner {
    display: flex;
    width: 100%;

    background: rgba(0, 0, 0, 0.6);
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 40px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;

    color: var(--white);
}

.header .nav {
    display: flex;
}

.nav > li {
    position: relative;
}

.nav > li > a {
    display: inline-block;
    padding: 20px;

    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;

    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}

/* hover li => subnva */
.nav li:hover .subnav {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}

/* subnav */
.subnav {
    position: absolute;
    top: 60px;
    left: -12px;
    width: 220px;

    background: var(--white);

    opacity: 0;
    visibility: hidden;

    transform: scaleY(0);
    transform-origin: top;

    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
        visibility 0.5s;
}

.subnav .subnav-item {
    border-bottom: 1px solid var(--border-color);
}

.subnav .subnav-item {
    transition: background 0.5s ease-in;
}

.subnav .subnav-item:hover {
    background-color: var(--primary);
}

.subnav .subnav-item:hover a {
    color: var(--white);
    transform: translate(10px, 0px);
}

.subnav a {
    display: block;
    padding: 14px 20px;

    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);

    transition: transform 500ms linear;
}

.header .action-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.action-btn {
    font-size: 2rem;
    color: var(--white);
}

h1.heading {
    font-size: 3.2rem;
    text-transform: uppercase;
}

.breadcrumb {
    display: flex;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: #fffc;
}

.breadcrumb li + li::before {
    content: "/";
    padding: 0 6px;
}

.breadcrumb li:not(:last-child):hover {
    color: var(--secondary);
}

.breadcrumb a {
    text-decoration: none;
}

/* Start main */
.main {
    margin-top: 110px;
}

.main .inner {
    display: flex;
    gap: 30px;
}

/* Sidebar */
.sidebar {
    width: 270px;
}

/* Sidebar form */
.sidebar .sidebar__form {
    height: 45px;
    display: flex;
    align-items: center;
}

.sidebar .sidebar__input {
    font-style: italic;
    min-width: calc(100% - 100px);
    line-height: 45px;
    padding: 0 20px;
    cursor: auto;
    border: 1px solid #00000017;
}

.sidebar .sidebar__btn {
    background: var(--primary);
    line-height: 45px;
    width: 100px;
    color: var(--white);
}

.menu-title {
    margin-top: 62px;
    color: #333;
    font-size: 2.4rem;
}

ul.menu {
    margin-top: 20px;
}

.menu a {
    display: flex;
    align-items: center;

    height: 40px;

    color: var(--text-desc);
    text-decoration: none;

    transition: transform 500ms ease-out, color 500ms ease-out;
}

.menu a:hover {
    color: var(--primary);
}

.main .main-content {
    width: 100%;
    flex-grow: 1;
}

.sidebar ul.menu__product {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar ul.menu__product li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
}

.sidebar .product__img {
    display: block;
    object-fit: cover;
    width: 100px;
}

.sidebar .product__item-child {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 15px;
    text-align: center;
    padding: 6px 20px;
}

.sidebar .product__item-child a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;

    color: var(--text-desc);
    transition: color 500ms ease-out;
}

.sidebar .product__item-child a:hover {
    color: var(--primary);
}

.sidebar .product__item-child span {
    display: block;
    font-weight: 700;
    color: #242222;
}

/* main content */
/* Advanced */
.advanced {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advanced .form__group {
    display: flex;
    gap: 30px;
}

.advanced .advanced__select {
    line-height: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid #00000017;
    min-width: 220px;
}

.advanced .select__option {
    display: flex;
    flex-grow: 1;
}

.advanced p.desc {
    font-size: 1.8rem;
}

/* Courses list */
.details {
    --columns: 2;
    --spacing: 30px;

    display: flex;
    gap: var(--spacing);

    margin-left: calc(-1 * var(--spacing));
}

.details__item {
    margin-left: var(--spacing);
    display: block;
    flex: 1;
    width: 100%;
    aspect-ratio: 1 / 0.8;
    overflow: hidden;
}

.details .details__thumb {
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content */
.content {
    width: 100%;
    flex: 1;
}

.content h2.title {
    font-size: 3.2rem;
}

.content .price {
    display: flex;
    line-height: 66px;
    height: 66px;
    margin-top: 16px;
    gap: 16px;
    font-size: 3.2rem;
    color: #242222b3;
}

.content .price__decreased {
    color: var(--primary);
    font-weight: 700;
}

.content .price__undecreased {
    font-size: 2.4rem;
    margin-left: 18px;
    text-decoration: line-through;
}

.content .price__normal {
    font-size: 1.8rem;
}

.content p.desc span {
    color: var(--primary);
}

.content p.content__desc {
    line-height: 24px;
    margin-top: 30px;
    text-align: justify;
}

.content .rating {
    display: flex;
    margin-top: 20px;
    color: var(--primary);
    gap: 6px;
}

.content .groupbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 24px;
    line-height: 40px;
    height: 40px;
    font-size: 1.8rem;
    color: var(--white);
    margin-top: 74px;
}

.content .groupbtn__left {
    display: flex;
}

.groupbtn__left .groupbtn__add,
.groupbtn__left .groupbtn__sub,
.groupbtn__left span {
    background: var(--primary);
    width: 70px;
    text-align: center;
}

.groupbtn__left span {
    background-color: #eaede8;
    color: var(--text-desc);
    margin: 0 2px;
    cursor: auto;
}

.groupbtn__right a {
    display: block;
    width: 130px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    background: var(--primary);
    line-height: 40px;
    height: 40px;
    text-transform: uppercase;
    transition: background 1000ms ease-in-out;
}

.groupbtn__right a:hover {
    /* background: var(--secondary); */
    background-color: var(--secondary);
}

.main-content .information {
    margin-top: 80px;
}

.information ul.information__list {
    display: flex;
    height: 60px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    gap: 2px;
    font-size: 2.2rem;
}

.information .information__item {
    background: #eaede8;
    flex-grow: 1;
    flex-basis: 60px;
}

.information .information__item:nth-child(2) {
    flex-grow: 2;
}

.information li.information__item.active {
    background: var(--primary);
    color: var(--white);
}

.information .information__list li a {
    text-decoration: none;
}

.information .information__desc {
    margin-top: 40px;
}

.information .information__desc p:nth-child(n + 1) {
    margin-top: 38px;
}

.information p.desc {
    line-height: 24px;
    text-align: justify;
}

/* Related Products */
.related {
    margin-top: 80px;
}

.related h3.title {
    font-size: 2.2rem;
}

.related .related__slice {
    margin-top: 40px;
    /* position: relative; */
}

/* Courses list */
.related .related__slice {
    --columns: 3;
    --spacing: 30px;

    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    row-gap: var(--spacing);

    margin-top: 62px;
    margin-left: calc(-1 * var(--spacing));
    overflow: hidden;
}

.related .related__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / var(--columns) - var(--spacing));
    margin-left: var(--spacing);
}

.related__item .thumb-wrapper {
    display: block;
    aspect-ratio: 1 / 0.8;

    position: relative;
    overflow: hidden;
}

.related__item .course-thumb {
    display: block;
    position: relative;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.related__item .thumb-wrapper .course-thumb {
    -webkit-transform: scale(1);
    transform: scale(1);

    -webkit-filter: blur(0);
    filter: blur(0);

    -webkit-transition: transform 1s ease-in-out, filter 1s ease-in-out;
    transition: transform 1s ease-in-out, filter 1s ease-in-out;
}

.related__item .thumb-wrapper:hover .course-thumb {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.related__item .course-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;

    padding: 35px 0px;
}

/* .related__item .course-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
} */

/* .related__item .course-title a {
    font-size: 1.8rem;
    color: #464646;
    text-decoration: none;

    transition-property: color;
    transition-duration: 500ms;
} */

/* .related__item .course-title:hover a {
    color: var(--primary);
} */

/* .related__item .course-desc {
    margin: 20px 0;
    font-size: 1.8rem;
    font-weight: 700;
} */

/* .related__item .course-btn {
    display: block;
    height: 40px;
    min-width: 130px;
    padding: 0 8px;
    margin: 0 auto;

    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    text-decoration: none;
    color: var(--white);
    background: var(--primary);
    border-radius: 999px;
    cursor: pointer;

    transition: transform 900ms ease-in-out;
} */

/* .related__item .course-btn:hover {
    transform: translateY(-10px);
    box-shadow: 0 34px 10px -18px rgba(0, 0, 0, 0.9);
} */

/* Footer */
.footer {
    margin-top: 100px;
    background: var(--footer-bg);
}

.footer .container-wrapper {
    padding-top: 80px;
    padding-bottom: 160px;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    /* padding-top: 80px; */
    gap: 30px;
    color: var(--tertiary);
}

/* Footer left */
.footer-left {
    width: 270px;
}

.footer-right p.footer-desc,
.footer-left p.footer-desc,
.footer-left p.footer-copyright {
    margin-top: 20px;
    line-height: 1.4;
}

.footer-left .footer-apps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.footer-apps a img {
    display: block;
    object-fit: contain;
    width: 100%;
}

/* Footer right */
.footer-right {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.footer-right h3 {
    font-size: 20px;
    color: var(--white);
}

.footer-right ul {
    margin-top: 25px;
}

.footer-right ul li {
    height: 30px;
    line-height: 30px;
}

.footer-right ul li a {
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.footer-right ul li:hover a {
    color: var(--primary);
}

/* footer form */
.form-group {
    margin-top: 25px;
}

.footer-right .footer-form {
    display: flex;
    height: 43px;
    border: 1px solid #00000017;
    border-radius: 999px;
    overflow: hidden;
}

.footer-right .footer-input {
    flex-grow: 1;
    padding: 0 20px;
    background: #272727;
}

.footer-right .footer-btn {
    position: relative;
    overflow: hidden;
    margin-top: 10px;

    height: 40px;
    min-width: 100px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 999px;
    align-self: stretch;

    background: var(--primary);
    color: var(--white);
    transition: background 0.5s ease-in-out;

    font-weight: 400;
    text-transform: uppercase;
}

.footer-right .footer-btn:hover {
    background-color: var(--white);
    color: var(--primary);
}
