*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --heading-font: "PT Sans", sans-serif;
    --black: #000;
    --white: #fff;
    --primary: #b80257;
    --secondary: #783df0;
    --tertiary: #fff9;
    --footer-bg: #151515;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
}

input,
button {
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

a,
img,
button,
input,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    /** 
        Thuộc tính -webkit-tap-highlight-color được sử dụng trong CSS 
        để kiểm soát hiệu ứng highlight (màu nhấp nháy) khi người dùng chạm vào 
        một phần tử trên các thiết bị di động sử dụng trình duyệt WebKit (Safari, Chrome trên iOS).
    **/
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

/* Start header wrapper */
.header-wrapper {
    display: flex;
    width: 100%;
    min-height: 496px;
    background-image: url(../img/banner/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-wrapper .inner {
    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
    color: var(--white);
}

.header .nav {
    /* display: flex; */
}

.nav li {
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.nav li:hover .subnav {
    display: block;
}

.nav li a {
    /* display: inline-block; */
    display: inherit;
    padding: 20px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}

/* subnav */
.subnav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    background: grey;
}

.action-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.action-btn {
    font-size: 2rem;
    color: var(--white);
}

h1.heading {
    font-size: 3.2rem;
}

.breadcrumb {
    display: flex;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: #fffc;
}

.breadcrumb li + li::before {
    content: "/";
    padding: 0 6px;
}

/* Start main */
.main {
    margin-top: 110px;
}

.main .inner {
    display: flex;
    gap: 30px;
}

/* Start sidebar */
.sidebar {
    width: 270px;
}

.search-form {
    display: flex;
    align-items: center;
    height: 43px;
    border: 1px solid #00000017;
    border-radius: 20px;
    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    padding-left: 20px;
}

.search-input:not(:placeholder-shown) + .search-btn {
    color: #333;
}

.search-btn {
    padding: 0 20px;
    /* height: 100%; */
    align-self: stretch;
    color: #00000080;
}

.menu-title {
    margin-top: 30px;
    color: #333;
    font-size: 1.6rem;
}

ul.menu {
    margin-top: 20px;
    border: 1px solid #0000000d;
}

ul.menu li + li {
    border-top: 1px solid #0000000d;
}

.menu a {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 25px;
    color: #000000b3;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1000ms ease-in;
    transition: transform 1000ms ease-out;
}

.menu a:hover {
    transform: translate(20px, 0px);
    -webkit-transform: translate(20px, 0px);
    -moz-transform: translate(20px, 0px);
    color: var(--secondary);
}

.main .main-content {
    flex-grow: 1;
}

/* Topics */
.topics {
    display: flex;
    gap: 18px;
    justify-content: center;
}

.topics a {
    display: inline-block;
    height: 30px;
    padding: 0 14px;
    border-radius: 999px;
    text-decoration: none;
    line-height: 30px;
    transition-property: background;
    transition-duration: 1000ms;
}

.topics .active a,
.topics a:hover {
    background: var(--secondary);
    /* border-radius: 999px; */
    color: var(--white);
}

/* Courses list */
.courses-list {
    --columns: 3;
    --spacing: 30px;

    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-top: 60px;
    margin-left: calc(-1 * var(--spacing));
}

.courses-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / var(--columns) - var(--spacing));
    margin-left: var(--spacing);
    border: 1px solid #0000000d;
}

.courses-item .thumb-wrapper {
    display: block;
    aspect-ratio: 1 / 0.8;
    overflow: hidden;
    /* 270 / 217
    hoặc ghi 1.24 
     */
}

.courses-item .course-thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.courses-item .thumb-wrapper .course-thumb {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.courses-item .thumb-wrapper:hover .course-thumb {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.courses-item .course-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.courses-item .course-title {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    hiển thị dấu .., khi bị tràn nội dung 1 dòng */

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* hiển thị dấu .., khi bị tràn nội dung 2 dòng  */
}

.courses-item .course-title a {
    font-size: 1.8rem;
    color: #464646;
    text-decoration: none;
    transition-property: color;
    transition-duration: 500ms;
}

.courses-item .course-title:hover a {
    color: var(--primary);
}

.courses-item .course-desc {
    margin: 20px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.courses-item .course-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    color: #0009;
}

.courses-item .course-bottom div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.courses-item .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.courses-item .course-btn {
    height: 32px;
    padding: 0 8px;
    margin-left: auto;
    color: var(--white);
    background: var(--primary);
    border-radius: 999px;
    min-width: 66px;
    text-decoration: none;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    transition-property: box-shadow;
    transition: transform 900ms ease-in-out;
}

.courses-item .course-btn:hover {
    transform: translateY(-10px);
    box-shadow: -1px 200px 16px -99px rgba(104, 104, 104, 1);
    -webkit-box-shadow: -1px 200px 16px -99px rgba(104, 104, 104, 1);
    -moz-box-shadow: -1px 200px 16px -99px rgba(104, 104, 104, 1);
}

.courses-item .course-btn.free {
    background: var(--secondary);
}

/* Pagination */
.pagination {
    /* display: flex; */
    margin-top: 74px;
}

.pagination .pagination__list {
    display: flex;
    gap: 15px;
}

.pagination__list .pagination__link {
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #0003;
    border-radius: 5px;
    color: #0000004d;
}

.pagination__list li:last-child > a {
    min-width: 58px;
    color: var(--white);
    background: var(--secondary);
    border: none;
}

.pagination__list li.active a,
.pagination__list li:not(:last-child):hover a {
    border-color: var(--secondary);
    color: var(--secondary);
}

/* Footer */
.footer {
    margin-top: 100px;
    background: var(--footer-bg);
}

.footer .container-wrapper {
    padding-top: 80px;
    padding-bottom: 160px;
    /* display: flex;
    gap: 30px; */
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    /* padding-top: 80px; */
    gap: 30px;
    color: var(--tertiary);
}

/* Footer left */
.footer-left {
    width: 270px;
}

.footer-right p.footer-desc,
.footer-left p.footer-desc,
.footer-left p.footer-copyright {
    margin-top: 20px;
    line-height: 1.4;
}

.footer-left .footer-apps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.footer-apps a img {
    display: block;
    object-fit: contain;
    width: 100%;
}

/* Footer right */
.footer-right {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.footer-right h3 {
    font-size: 20px;
    color: var(--white);
}

.footer-right ul {
    margin-top: 25px;
}

.footer-right ul li {
    height: 30px;
    line-height: 30px;
}

.footer-right ul li a {
    text-decoration: none;
}

.footer-right ul li:hover a {
    color: var(--primary);
}

/* footer form */
.form-group {
    margin-top: 25px;
}

.footer-right .footer-form {
    display: flex;
    height: 43px;
    border: 1px solid #00000017;
    border-radius: 999px;
    overflow: hidden;
}

.footer-right .footer-input {
    flex-grow: 1;
    padding: 0 20px;
    background: #272727;
}

.footer-right .footer-btn {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    min-width: 100px;
    background: var(--primary);
    border-radius: 999px;
    padding: 0 20px;
    align-self: stretch;
    color: var(--white);
    font-weight: 400;
    text-transform: uppercase;
}

/* chỉnh lại button hover cho đúng mẫu, cái này làm tạm cho có */
.footer-right .footer-btn:hover {
    background: var(--white);
    color: var(--primary);
}
