*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --heading-font: "PT Sans", sans-serif;
    --black: #000;
    --white: #fff;
    --primary: #b80257;
    --secondary: #783df0;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
}

input,
button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

a,
img,
button,
input,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    /** 
        Thuộc tính -webkit-tap-highlight-color được sử dụng trong CSS 
        để kiểm soát hiệu ứng highlight (màu nhấp nháy) khi người dùng chạm vào 
        một phần tử trên các thiết bị di động sử dụng trình duyệt WebKit (Safari, Chrome trên iOS).
    **/
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

/* Start header wrapper */
.header-wrapper {
    display: flex;
    width: 100%;
    min-height: 496px;
    background-image: url(../img/banner/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-wrapper .inner {
    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
    color: var(--white);
}

.header .nav {
    display: flex;
}

.nav a {
    display: inline-block;
    padding: 20px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}

.action-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.action-btn {
    font-size: 2rem;
    color: var(--white);
}

h1.heading {
    font-size: 3.2rem;
}

.breadcrumb {
    display: flex;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: #fffc;
}

.breadcrumb li + li::before {
    content: "/";
    padding: 0 6px;
}

/* Start main */
.main {
    margin-top: 40px;
}

.main .inner {
    display: flex;
}

/* Start sidebar */
.sidebar {
    width: 270px;
    padding: 0 15px;
}

.search-form {
    display: flex;
    align-items: center;
    height: 43px;
    border: 1px solid #00000017;
    border-radius: 20px;
    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    padding-left: 20px;
}

.search-input:not(:placeholder-shown) + .search-btn {
    color: #333;
}

.search-btn {
    padding: 0 20px;
    /* height: 100%; */
    align-self: stretch;
    color: #00000080;
}

.menu-title {
    margin-top: 30px;
    color: #333;
    font-size: 1.6rem;
}

ul.menu {
    margin-top: 20px;
    border: 1px solid #0000000d;
}

ul.menu li + li {
    border-top: 1px solid #0000000d;
}

.menu a {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 25px;
    color: #000000b3;
    text-decoration: none;
}

.menu a:hover {
    color: var(--secondary);
}

.main .main-content {
    flex-grow: 1;
}

/* Topics */
.topics {
    display: flex;
    gap: 18px;
    justify-content: center;
}

.topics a {
    display: inline-block;
    height: 30px;
    padding: 0 14px;
    border-radius: 999px;
    text-decoration: none;
    line-height: 30px;
}

.topics .active a,
.topics a:hover {
    background: var(--secondary);
    /* border-radius: 999px; */
    color: var(--white);
}
